body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.titulo {
	text-align: center;
	margin-top: 20px;
	color: #333;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #333;
	text-align: center;
}

.menu li {
	display: inline-block;
}

.menu li a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #555;
}

.subtitulo {
	text-align: center;
	color: #555;
	margin: 20px 0;
}

.contenido {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc;
}

.secciones {
	display: flex;
	justify-content: space-between;
}

.seccion-titulo {
	color: #333;
}

.seccion-texto {
	color: #555;
}

footer {
	background-color: #333;
	padding: 20px;
	color: #fff;
	text-align: center;
}

.contenedor-footer {
	display: flex;
	justify-content: center;
}

.content-foo {
	margin: 0 20px;
}

.content-foo h4 {
	margin: 0;
}

.content-foo p {
	margin: 10px 0;
}

  img {
    width: 250px;
    height: 250px; /* Restaura el tamaño original de las imágenes */
  }
}
