*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size:500%; 
    
}

nav ul {
    background: grey;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li:hover {
    background: black;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    text-align: right;
}
.contenido {
    display: flex;
    margin: 60px;
}

.contenido{
    padding: 60px 0;
    width: 70%;
    max-width: 1000%;
    margin: auto;
}


.secciones {
    display: flex;
    align-items: center;
    padding: 40px;

}

footer {
    background: black;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

footer p {
    text-align: center;
    padding: 20px;
}

.contenedor-footer
{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 40px;
    border-bottom: 1px solid white;
}

.content-foo
{
    text-align: center;    
}

.content-foo h4
{
    color: white;
    border-bottom: 3px solid rgb(89, 157, 213);
    padding: 5px;
    margin-bottom: 10px;
}

.content-foo p > a
{
    color: rgb(255, 253, 253);
    text-decoration: none;
}

.content-foo p > a:hover
{
    font-weight: 400;
    color: rgb(144, 17, 17);
}

.titulo-final
{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: rgb(253, 253, 253);
}
